body {
	margin: 0px;
	padding: 0px;
	background-color: grey;
}

#wrap{
  position: relative;
  	width: 1000px;
    height: 1000px;
    top:20px;
    margin: auto;
  	text-align: left;
    background-color: white;
    border: 2px solid black;
}

#header{
  position: relative;
  	width: 800px;
    top:20px;
    margin: auto;
  	text-align: left;

}
